body {
  margin: 0;
  font-family: Arial;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: black;
  color: white;
}

.navbar ul {
  display: flex;
  gap: 15px;
  list-style: none;
}

section {
  padding: 60px 20px;
}

.project img {
  width: 100%;
  max-width: 300px;
}

@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
  }
}